
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    </head>
    <body>
        <h1>request product</h1>
   <center>
    <div class="col-4">
        <form method="POST">
            {% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="text" class="form-control" name="name" id="name">
    
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">age</label>
    <input type="number" class="form-control" name="age" id="age">
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">gender</label>
    <input type="text" class="form-control" name="gender" id="gender" >
    
  </div>
  <div class="mb-3">
    <label for="comment" class="form-label">comment</label>
    <input type="text" class="form-control" name="comment" id="comment">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</center>
        
        <script src="" async defer></script>
    </body>
</html>